/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Martel Sans", sans-serif;
}

:root {
  font-size: 62.5%;
  --card-per-screen: 6;
  --white: #fff;
  --black: #000;
  --grey: #808080;
  --backdrop: #141414;
  --primary-text-color: #e5e5e5;
}

body {
  background-color: var(--backdrop);
  overflow-x: hidden;
}

a {
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

a:hover {
  color: #dfdfdf;
}

ul,
li {
  display: inline;
}

h1,
h2 {
  color: var(--primary-text-color);
}
h1 {
  font-size: 2rem;
}

#logo {
  margin-right: 25px;
  display: flex;
  align-self: center;
  height: 5rem;
}

header {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  color: var(--primary-text-color);
  height: 6.8rem;
  width: 100%;
  padding: 0 4%;
  display: grid;
  grid-template-columns: auto 1fr;
  /* display: flex; */
  align-items: center;
  position: fixed;
  z-index: 1000;
}

header.scrolled {
  background-color: rgb(20, 20, 20);
}

nav {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 1.4rem;
  font-weight: 500;
  align-items: center;
  /* line-height: 1; */
}

.navlink-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  margin-left: 18px;
}

.navlink-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 18px;
}

.navlink-1 li a,
.navlink-2 li a {
  display: flex;
  align-items: center;
  justify-self: center;
}

.nav-img-container {
  height: 32px;
  width: 32px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 15px;
}

.nav-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .netflix-logo {
  height: 5rem;
} */

.carousel {
  position: relative;
  /* height: 840px; */
  display: flex;
}

.carousel-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  height: 65%;
  /* background-color: green; */
  padding: 0 4%;
}

.carousel-desc {
  /* background-color: grey; */
  width: 75%;
  height: 40%;
}

.carousel-links {
  display: flex;
  gap: 10px;
  margin-block: 10px;
}

.carousel-links button:nth-child(2) {
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}

.carousel-img {
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.carousel-slider {
  position: absolute;
  bottom: 0;
}
.carousel-slider .row-container {
  margin-bottom: 0;
  background-image: linear-gradient(0deg, var(--backdrop) 10%, transparent);
}

.row-container {
  /* padding: 0 4%; */
  margin-block: 46px;
}

.row-title {
  /* font-size: 1.4rem; */
  display: flex;
  align-items: center;
}

.progress-bar-container {
  display: flex;
  gap: 1.5px;
  margin-left: auto;
  margin-right: 60px;
  opacity: 0;
}

.progress-bar {
  background-color: grey;
  width: 1rem;
  height: 0.25rem;
}

.row-container:hover .progress-bar-container {
  opacity: 1;
}

.row-container h1,
h2 {
  display: inline;
}

.row-container h1 {
  padding-left: 4%;
}

.row-container h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: aqua;
  transition: all 0.3s ease 0s;
  opacity: 0;
  cursor: pointer;
}

.row-container h2:hover {
  margin-left: 10px;
  opacity: 1;
}

.slider-container {
  position: relative;
  padding: 0 4%;
}
.slider {
  display: flex;
  /* height: 127px; */
  transform: translateX(00%);
  transition: all 0.5s ease-in-out;
}

.backdrop-card,
.poster-card {
  cursor: pointer;
}

.backdrop-card {
  display: inline-block;
  /* max-width: 16.6666666667%; */
  flex: 0 0 calc(100% / var(--card-per-screen));
  height: 100%;
  padding: 0 3px;
  border-radius: 5px;
}

.backdrop-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.poster-card {
  display: inline-block;
  /* max-width: 16.6666666667%; */
  flex: 0 0 calc(100% / var(--card-per-screen));
  height: 100%;
  padding: 0 3px;
  border-radius: 5px;
  /* background-color: yellow; */
}

.poster-card section {
  display: flex;
  /* background-color: green; */
  height: 162px;
  border-radius: 2%;
  overflow: hidden;
}

.poster-card section svg {
  /* background-color: blue; */
  height: 100%;
  position: relative;
  /* left: 2%; */
  z-index: -1;
}

.poster-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* buttons*/

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
}

.btn-carousel {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 9px 27px;
  border-radius: 5px;
}

.btn-carousel:hover {
  transition: all 0.1s ease 0s;
  background-color: rgba(255, 255, 255, 0.75);
}

.btn-carousel:nth-child(2):hover {
  background-color: rgba(109, 109, 110, 0.4);
}

.btn-carousel span {
  margin-left: 10px;
}

.btn-slider {
  position: absolute;
  /* width: 58px; */
  width: 3.85%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.273);
  z-index: 3;
  overflow: hidden;
  transition: all 0.1s ease 0s;
  opacity: 0;
}

.btn-slider img {
  width: 100%;
  height: 100%;
}

.btn-slider-img-container {
  /* width: 100%; */
  height: 30%;
  transition: all 0.3s ease 0s;
}

.btn-slider:hover {
  background-color: rgba(0, 0, 0, 0.467);
}
.btn-slider:hover .btn-slider-img-container {
  height: 35%;
}

.btn-left {
  left: 0;
  border-radius: 0px 5px 5px 0px;
}

.btn-right {
  right: 0;
  top: 0;
  border-radius: 5px 0px 0px 5px;
}

.slider-container:hover > .btn-slider {
  opacity: 1;
}

/* footer */

.footer-container {
  display: flex;
  justify-content: center;
  margin-inline: 200px;
}

.desc-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.desc {
  color: var(--grey);
  flex: 0 0 25%;
  margin-bottom: 16px;
  font-size: 1.3rem;
}

@media screen and (max-width: 1300px) {
  :root {
    --card-per-screen: 5;
  }
}

@media screen and (max-width: 1200px) {
  nav {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1100px) {
  :root {
    --card-per-screen: 4;
  }
}

@media screen and (max-width: 900px) {
  header {
    height: 4.1rem;
  }

  #logo {
    height: 4.1rem;
    display: flex;
    align-items: center;
  }
  .netflix-logo {
    height: 3.1rem;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --card-per-screen: 3;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --card-per-screen: 2;
  }
}
