/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Martel Sans", sans-serif;
}

:root {
  font-size: 62.5%;
  --white: #fff;
  --black: #000;
}

body {
  background-color: black;
}

a {
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

a:hover {
  color: #dfdfdf;
}

ul,
li {
  display: inline;
}

h1,
h2 {
  color: var(--white);
}

#logo {
  margin-right: 25px;
  display: flex;
  align-self: center;
}

header {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.115),
    rgba(0, 0, 0, 0.5),
    rgb(0, 0, 0, 1)
  );
  color: var(--white);
  height: 68px;
  width: 100%;
  padding: 0 4%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  position: absolute;
}

nav {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 1.4rem;
  font-weight: 500;
}

.navlink-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  margin-left: 18px;
}

.navlink-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 18px;
}

img {
  height: 5rem;
}

.carousel {
  background-color: grey;
  height: 900px;
}

.card {
  width: 227px;
  height: 127px;
  background-color: brown;
  padding: 0 3px;
  border-radius: 5px;
}

.slider-container {
  padding: 0 4%;
  margin-block: 45px;
}

.slider-container h1,
h2 {
  display: inline;
}

.slider-container h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: aqua;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.slider-container h2:hover {
  margin-left: 10px;
  opacity: 1;
}
.slider {
  display: flex;
  gap: 6px;
}
